<?xml version="1.0"?>
<ruleset name="dsg/php">
    <arg name="warning-severity" value="8" />
    <arg name="extensions" value="php" />

    <rule ref="PSR12">
        <properties>
            <property name="testVersion" value="8.2" />
        </properties>
    </rule>

    <file>bin/</file>
    <file>src/</file>
</ruleset>
